/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Roboto Condensed";
  src: url("/assets/fonts/roboto-condensed/RobotoCondensed-Regular.ttf")
    format("truetype");
}

body {
  font-family: "Roboto Condensed", sans-serif;
}
