/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@font-face {
  font-family: "Roboto Condensed";
  src: url("/assets/fonts/roboto-condensed/RobotoCondensed-Regular.ttf")
    format("truetype");
}

body {
  padding-top: 56px;
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
}

body,
html {
  height: 100%;
}

.footer {
  position: absolute;
  bottom: 10px;
  height: 60px;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.content {
  padding-bottom: 100px;
}
